
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*, *:after, *:before{
    box-sizing: border-box;
}

.body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
  
}

.article{
    max-width:40rem; 
}

.title{
    font-size: 3rem;
    color:grey;   
}

.sub-title{
    color:gray;
    display: block;
    margin-bottom: 3rem;
}

.text{
    margin-bottom: 4rem;
    font-size: 1rem;
    color:gray;
}

.button{
    border: 0.1rem solid red;
    padding: 1rem 1.6rem;
    display:inline-block;
    width:150px;
    margin-right: 20px;
      
}

.button.on{
 border: 0.1rem solid red;
 background-color:red;
 color:white;
 
 
}


.button.later{
color:red;


}

