@import"base/reset";
@import"modules/last.scss";


*, *:after, *:before{
    box-sizing: border-box;
}
.body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
    .wrapper{ 
        display:flex;
        flex-direction:column;
        max-width:50rem;
        position:relative;
        background-color:red;
        .intro{ 
            padding:1rem;

                .head{
                    display:flex;
                    .icon{
                        font-size:2rem;
                        margin-right:77%;
                        display:flex;
                        .logo{
                            
                            font-size:2rem;
                        }
                        .wistia{
                           
                        }
                    }
                    .button{
                        display:inline-block;
                        .loggin{
                            padding:0.5rem;
                        }
                    }
                }

                .sign{
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                    padding-top:2rem;
                    padding-bottom:1rem;
                    .title{
                        display:inline-block;
                        margin-bottom:1rem;
                        font-size:2rem;
                    }
                    .subtitle{
                        
                    }
                }

                .form{
                    max-width:30rem;
                    margin:0 auto;
                   
                    .button-short{
                        display:flex;
                        flex-wrap: wrap;     
                        .info-form{
                            margin: 10px;
                            border: 1px solid black;
                            background-color: white;
                            width: calc(50% - 20px);
                            height: calc(100%/2);
                            padding:1rem;
                        }
                    }
                    .button-large{
                        display:flex;
                        flex-direction: column;
                        background-color: white;
                        margin: 10px;
                        .butt{
                            
                            padding:1rem;
                            border: 1px solid black;
                  
                        }

                    }

                }

                .text{
                    margin-top:1rem;
                    text-align:center;
                    .by{
                        font-weight:bold;
                        
                        .link{
                            text-decoration:none;
                        }
                    }

                }

        }

    }  

}
