@import"base/reset";

*, *:after, *::before{
    box-sizing: border-box;
}

.wrapper{
display:flex;
}

.box{
flex-grow:1;
height: 50px;
background-color: cornflowerblue;
position:relative;
margin-top:100px;
padding:20px;

&:nth-child(2n){
    background-color: coral;
}
&:hover{
    background-color: cyan;
}
&:active{
    background-color: green;
}
.box:before,:after{
    position:absolute;
    background-color: cyan;
    padding:5px;
    display:none;
    left:0;
    &:before{
        content:"hola mundo";
        bottom:100%;   
     }
    &:after{
        content:"que onda";
        top:100%;   
    }
}

&:hover:before{
    display:block;
}


}


