.left{
    background-color: grey;
    color:white;
    padding:3rem;

    .title{

    }

    .subtitle{

    }

    .post{
        display: inline-block;
        .button{
            display: inline-block;
            background-color: grey;
            color:white;
            font-size:0.7rem;
            padding:0.5rem;
            .pure{

            }
            .library{

            }
        }
    }

}