@import "base/reset";

body{
    *, *:after, *:before{
        box-sizing: border-box;
    }
    .wrapper{
    
        margin: 1rem;
        .form{
        
            .input{
                min-height: 3rem;
                min-width: 20rem;
                border: none;
                background-color: #fde2e2;
                color: #808b97;
                margin-right: 0.5rem;
            }
            .button{
                min-height: 3rem;
                min-width: 10rem;
                border: none;
                background-color: #fde2e2;
                color: #808b97;
            }
        }

        .list{
            margin-top: 0.5rem;
            color: #808b97;
        }
    }
}