@import "base/reset";

.wrapper{
display:flex;
justify-content: center;
align-items: center;
//margin-top: 50%;
    .box{
    height:10rem;
    width:10rem;
    border:1px solid red;
    margin-right: 10px;
    }
    .input{
        height:1.5rem;
    }
}