@import"modules/left";
@import"modules/right";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

*, *:after, *:before{
    box-sizing: border-box;
}
.body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
.wrapper{
    width:100%;
    max-width:47%;
    display:flex;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: -3px 3px 5px #b9b2b2;
    background-color: white;
    color:rgb(133, 122, 122);
    font-family: 'Manrope', sans-serif;
    
}
}