.right{
    background-color: white;
    display:flex;
    flex-direction: column;
    //padding:1rem;
    box-shadow: 0px 0px 40px rgb(179, 170, 170);
    margin:2rem 2rem 2rem 0.5rem;
    @media (max-width: 600px){
        margin: 0 auto;  
        }
    .head{
        padding: 1rem;
        font-size: 1rem;
        border-bottom: 1px dotted rgb(148, 146, 146);
        @media (max-width: 600px){
            font-size:0.8rem; 
            }
    }
    .article{
        color:grey;
        padding: 1rem;
        .intro{
            font-size: 0.7rem ;
           
            .title{
                padding:0.5rem 0rem;
                color:black;
                font-size:1.5rem; 
                @media (max-width: 600px){
                    font-size:1rem; 
                    }
            }
            .sub-title{
                display:inline-block;
                padding-bottom:0.5rem 0rem;
            }
            .text{
                padding:0.5rem 0rem;
                font-weight: 400;
                line-height: 1rem;
                color: rgb(151, 150, 150);
            }
            .link{
                color:rgb(24, 224, 231);
                text-decoration:none;
                font-size: 0.8rem;
            }
        }
    }  
}