@import"article-image";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.article{ 
    display:flex;
    flex-direction:column;
    max-width:50rem;

    .art{

                .head{
                .page-title{
                    color: #444;
                    font-size: 3em;
                    font-family: 'Montserrat', sans-serif;
                    text-align: center;
                    padding-top: 1rem;
                }
                }

                .article-post{
                    .post-article{
                    margin: 2em auto;
                    border: 1px solid #444444;
                    padding: 1.8em 2em;

                    .post-title{
                        padding-bottom:1rem;
                        color: #444;
                        font-size: 2.2em;
                        margin: 0;
                    }

                    .text-content{
                        font-family: sans-serif;
                        font-size: 1.2em;
                        line-height: 1.8em;
                        color: grey;
                        margin-bottom: 1.2em;
                        font-weight: 100;
                    }

                    .info{
                        font-family: sans-serif;
                    color:grey;
                    margin-right: 1em;
                    font-weight:600;   
            
                    }
                
                    }

                }

    }
    
}