@import"article-image";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300;1,600&family=Roboto:ital,wght@0,500;1,300&display=swap');


.article{ 
    font-family: 'Montserrat', sans-serif;
    max-width:50rem;
    .art{
        .head{
            .page-title{
             color: rgb(53, 52, 52);
             font-size: 3rem;
             font-weight: 700;
             text-align: center;
             padding-top: 1rem;
            }
        }
        .article-post{
            .post-article{
             margin: 2rem auto;
             border: 1px solid #eee;
             padding: 1.8rem 2rem;
             box-shadow: 0 10px 30px rgba(0,0,0,0.1);

              .post-title{
                font-style: italic;
                font-weight: 600;
                padding-bottom:1rem;
                color: #444;
                font-size: 2.2rem;
                }
              .text-content{
                font-style: italic;
                font-weight: 300;
                font-size: 1.2rem;
                line-height: 1.8rem;
                color: grey;
                margin-bottom: 1.2rem;
                }
              .info{
                color:grey;
                font-style: italic;
                font-weight:600; 
                 .time{
                    margin-right: 1rem;
                 }
                 .author{
                    margin-right: 1rem;
                 }
                 .comments-count{} 
                 
                } 

            }

        }

    }
    
}