@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import"base/reset";
*, *:after, *:before{
    box-sizing: border-box;
}

.body{
    font-family: 'Roboto', sans-serif;
    font-style:medium;
    font-weight: 500;
    display:flex;
    justify-content: center;
    align-items: center;

    .article{
        max-width:37rem; 
    
  
        .title{
            font-size:3rem;
            color:grey;  
            display: inline-block;
            margin-bottom: 1.5rem; 
        }

        .sub-title{
            color:gray;
            display: block;
            margin-bottom: 1.5rem;
        }

        .text{
            
            font-weight: 300;
            margin-bottom: 3rem;
            font-size: 1rem;
            color:gray;
        }

        .post{
            display:flex;
            justify-content: flex-end;


                .button{
                    color:white;
                    

                    .on{
                        
                        background-color:red;
                        padding: 0.5rem 2rem;
                        margin-right: 1rem;
                        
                    }
                    .leter{
                        background-color: grey;
                        padding: 0.5rem 1.4rem;
                    } 
                }

            }

 
        }
}

