.everithing{
    .header{
       color:rgb(173, 166, 166);
       font-size:0.7rem;
    }
    .title{

    }

    .subtitle{
        

    }

    .link{
        
    }

    .post{
        display: inline-block;

        .button{
            display: inline-block;
            .java{
                background-color: red;

            }
        }
    }

    .text{

    }

}