




.left{
                
    display:flex;
    color:white;
    background-color: grey;
    flex-grow: 1;
    display:block;
    justify-content: center;
    padding: 5rem 2rem;

    .post{

        display:inline-block;

    .button{
        display:inline-block;
       background-color: grey;
        border: 0.1rem solid white;
        padding: 0.3rem;
        color: white;
    }
    }
}
