.left{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding:1.5rem;
    width: 55%;
    
    
    .intro{
        

    .title{  
            margin-bottom: 1rem;
            font-size:1.9rem;
            font-weight: 400;
        }
        .text{
            margin-bottom: 1rem;
            font-size:1.1rem;
        }
    }

    .continue{   
    .link{}
    }
}