.left{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding:1.5rem;
    width: 55%;
    
    
    .intro{
        

    .title{
        font-size:1.7rem;
        font-weight: 400;
    }
    .text{

    }

    }

    .continue{
        
        
    .link{
        

    }
    }
}