@import"modules/left";
@import"modules/right";
@import"base/reset";
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');




*, *:after, *:before{
    box-sizing: border-box;
}


.body{

    display:flex;
    justify-content: center;
    align-items: center;
   


    .wrapper{
        max-width: 70%;
        display:flex;  
        font-family: 'Manrope', sans-serif;
    }
}