@import"modules/left";
@import"modules/right";




.body{


    .wrapper{
        margin: 0 auto;
        max-width:60rem;
        min-height:10rem;
        background-color: red;
        display:flex;

        

        

    }
}