.last{
    display:flex;
    flex-direction:column;
    padding:1rem;
        .is-there{
            display:flex;
            background-color: white;
            .is{
                .title{
                    font-weight:bold;
                }
                .text{}
            }

            .do{
                .title{
                    font-weight:bold;
                }
                .text{}
            }

            }
        .are-there{
            background-color: white;

                .are{
                    .title{
                        font-weight:bold;
                    }
                    .text{}
                }
            }

}   